.user-product-card {
  align-items: center;
  border: solid black 2px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  margin: 5px;
  padding: 7px;
  text-align: center;
  width: 150px;
}

.user-product-card img {
  max-height: 30%;
  max-width: 100%;
}


.user-product-card button {
  background-color: rgb(204, 167, 99);
  border-radius: 100%;
}

.user-product-card button:hover {
  background-color: rgb(185, 125, 12);

}

