.user-product-card {
  align-items: center;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  margin: 5px;
  padding: 3px;
  text-align: center;
  width: 150px;
}
