body{
    background-color: #2e2d35;
}
.main{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.button-container{
  margin-top: 40px;
}

.title{
    display: block;
    margin-bottom: 40px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align-last: center;
    padding: 10px;
    color:#eaf0fb;
}

.error{
    display: block;
    margin-top: 40px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align-last: center;
    padding: 10px;
    color:#943232;
}

input{
    display: block;
    height: 50px;
    width: 95%;
    text-align-last: center;
    background-color: rgba(255,255,255,0.07);
    color:#eaf0fb;
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 17px;
}

::placeholder{
    color: #858585;
    font-style: italic;
    font-size: 15px;
}

button{
    margin-top: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 10px 10px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
